###### fundamentos de python
* Variables
* Operadores Matematicos
* Operadores Logicos
* Operadores de comparacion
* Estructuras de Control
    - condicionales
    - Ciclo finito: for
    - Ciclo finito: while
    - Funciones
* Estructuras de Datos
    - cadenas de caracteres: string
    - numeros enteros
    - numeros decimales (flotantes)
    - listas
    - diccionarios
    - tuplas

In [35]:
print("Epale mundo")

Epale mundo

In [5]:
# Variable
name = "Juan"
last_name = "Perez"

In [ ]:
# -MALA practica-

LastName = "Gomez"
Name = "Ana"
Name="Luis"

In [10]:
last_name = "gomez"
print(last_name)

gomez

In [11]:
NAME = "Juan"
name = "Pedro"

In [ ]:
# Operadores Matematicos
number_1 = 10
number_2 = 5

In [13]:
# Suma
result = number_1 + number_2

In [14]:
print(result)

15

In [15]:
# resta
result_sub = number_1 - number_2

In [ ]:
# Multiplicacion
result_mult = number_1 * number_2

# Division
result_div = number_1 / number_2

In [17]:
print(result_sub)

5

In [18]:
type(result_sub)

int

In [19]:
type(last_name)

str

In [20]:
print(last_name)

gomez

In [21]:
4+4

8

In [23]:
# OPERADORES DE COMPARACION

# == igual
# != diferente
# > mayor que
# < menor quee
# >= mayor o igual que 
# <= menor igual que

In [24]:
# OPERADORES BOOLEANOS

# True
# False

In [25]:
# Ejemplos
4 == 4

True

In [2]:
number_1 == number_2

NameError: name 'number_1' is not defined

In [28]:
number_1 > number_2

True

In [29]:
number_1 <= number_2

False

In [ ]:
# CONDICIONALES

# (Las condiciones solo funcionan si la salida es verdadera)

if number_1 > number_2:
    print("number_1 es mayor que number_2")

number_1 es mayor que number_2

In [33]:
# la flecha seÃ±ala el error

if number_1 > number_2
    print("number_1 es mayor que number_2")

SyntaxError: expected ':' (3356711633.py, line 3)

In [ ]:
#condiciones
# el else debe tener : al lado


if number_1 > number_2:
    print("number_1 es mayor que number_2")
else:
    print("numero_1 es menor que number_2")

number_1 es mayor que number_2

In [41]:
# Condicional

number_1 = 20
number_2 = 20

if number_1 > number_2:
    print("number_1 es mayor que number_2")

elif number_1 < number_2:
    print("number_1 es menor que number_2")

else:
    print("los numeros son iguales")

los numeros son iguales

In [ ]:
# Condicionales anidados

number_1 = 20
number_2 = 10

if number_1 > number_2:
    if number_1 > 10:
        print("number_1 es mayor que number_2 y mayor que 10")

elif number_1 < number_2:
    print("number_1 es menor que number_2")

else:
    print("los numeros son iguales")

number_1 es mayor que number_2 y mayor que 10

In [ ]:
# OPERADORES LOGICOS 
#and
#or
#not

# Condicional

number_1 = 20
number_2 = 5

if (number_1 > number_2) and (number_1 > 10):
    print("number_1 es mayor que number_2 y mayor que 10")

elif number_1 < number_2:
    print("number_1 es menor que number_2")

else:
    print("los numeros son iguales")

number_1 es mayor que number_2 y mayor que 10

In [46]:
# OPERADORES LOGICOS 
#and
#or
#not

# Condicional

number_1 = 20
number_2 = 5

if (number_1 > number_2) and (number_1 > 10):
    print(f'"{number_1}" es mayor que "{number_2}" y mayor que 10')

elif number_1 < number_2:
    print("number_1 es menor que number_2")

else:
    print("los numeros son iguales")

"20" es mayor que "5" y mayor que 10

In [ ]:

# Condicional
jugador_1 = input("jugador 1")
opcion_jugador_1 = input("piedra, papel o tijera")

jugador_2 = input("Jugador 2")
opcion_jugador_2 = input("piedra, papel o tijera")

print(jugador_1)
print(jugador_2)


# Opciones de juego

if (opcion_jugador_1 == "piedra") and (opcion_jugador_2 == "tijera"):
    print("jugador 1 gana con piedra")     #piedra vs tijera = gana piedra 

elif (opcion_jugador_1 == "papel") and (opcion_jugador_2 == "piedra"):
    print("jugador 1 gana con papel")     #papel vs piedra = gana papel

elif (opcion_jugador_1) == "tijera" and (opcion_jugador_2) == "papel":
    print("jugador 1 gana con tijera")     #tijera vs papel = gana tijera

elif (opcion_jugador_1) == (opcion_jugador_2):
    print("empate")             # Opciones iguales = empate

In [ ]:
# Condicional
jugador_1 = input("jugador 1: ")
opcion_jugador_1 = input("piedra, papel o tijera: ")

jugador_2 = input("Jugador 2: ")
opcion_jugador_2 = input("piedra, papel o tijera: ")

print(jugador_1)
print(jugador_2)


# OPCIONES DE JUEGO
if(opcion_jugador_1 != "piedra" and opcion_jugador_1 != "papel" and opcion_jugador_1 != "tijera") or (opcion_jugador_2 != "piedra" and opcion_jugador_2 != "papel" and opcion_jugador_2 != "tijera"):
    print("opcion no valida")

else:
# opciones donde gana el jugador 1
    if (opcion_jugador_1 == "piedra") and (opcion_jugador_2 == "tijera"):
        print("jugador 1 gana con piedra")     #piedra vs tijera = gana piedra 

    elif (opcion_jugador_1 == "papel") and (opcion_jugador_2 == "piedra"):
        print("jugador 1 gana con papel")     #papel vs piedra = gana papel

    elif (opcion_jugador_1) == "tijera" and (opcion_jugador_2) == "papel":
        print("jugador 1 gana con tijera")     #tijera vs papel = gana tijera

    # opciones donde gana el jugardor 2

    elif (opcion_jugador_2 == "piedra") and (opcion_jugador_1 == "tijera"):
        print("jugador 2 gana con piedra")     #piedra vs tijera = gana piedra 

    elif (opcion_jugador_2 == "papel") and (opcion_jugador_1 == "piedra"):
        print("jugador 2 gana con papel")     #papel vs piedra = gana papel

    elif (opcion_jugador_2) == "tijera" and (opcion_jugador_1) == "papel":
        print("jugador 2 gana con tijera")     #tijera vs papel = gana tijera

    # opcion de empate

    elif (opcion_jugador_1) == (opcion_jugador_2):
        print("empate")             # Opciones iguales = empate

    else:
        print("opcion no valida")

### Estructuras de datos

In [ ]:
# int
# float 
# str
# list
# tuple
              # 0       1       2       3
              #-4      -3      -2      -1
list_names = ["Juan", "Pedro", "Ana", "Luis"]
# cada lista debe ser deparada por comas ,,,, y se puede acceder a cada elemento de la lista por su indice

In [9]:
list_names [1]

'Pedro'

In [10]:
# slice de listas

#[start:stop:step]
list_names[:2]

['Juan', 'Pedro']

In [11]:
list_names[1:3]

['Pedro', 'Ana']

In [12]:
# list methods de python
# append
list_names.append("Carlos")

In [13]:
list_names

['Juan', 'Pedro', 'Ana', 'Luis', 'Carlos']

In [14]:
list_names.pop(0)

'Juan'

In [15]:
# longitud de la lista

len(list_names)

4

In [ ]:
# ciclos for

for name in list_names:
    print(name)

Pedro
Ana
Luis
Carlos

In [ ]:
# ciclos for

for name in list_names:
    # buscar el nombre ana en la lista en minuscula
    if name.lower() == "ana":
        print("Ana esta aqui")
        break
    
    #ana no esta en la lista
    else:
        print("Ana no esta en la lista")

Ana esta aqui

In [ ]:
# Diciconarios

# key : value
# clave : valor
dict_names = {"name": "Juan", "last_name": "Perez", "age": [25,42,12],}

### FUNCIONES

In [ ]:
# funcion de saludo

def saludo():
    print("Hola mundo")

In [20]:
saludo()

Hola mundo

In [21]:
# funcion de saludo con retorno

def saludo2():
    return "Hola mundo"

In [23]:
saludo2()

'Hola mundo'

In [24]:
# funcion que salude con retorno para un nombre
def saludo3(name):
    return f"Hola {name}"

In [25]:
saludo3("Juan")

'Hola Juan'

In [26]:
saludo3()

TypeError: saludo3() missing 1 required positional argument: 'name'

In [ ]:
saludo3("Pedro")

In [27]:
# funcion que salude con retorno para un nombre con un valor por defecto
def saludo3(name = "Fulano de tal"):
    return f"Hola {name}"

In [28]:
saludo3()

'Hola Fulano de tal'

In [30]:
# funcion que salude con retorno para nombre y apellido con valores por defecto
def saludo4(name = "Fulano", last_name = "De Tal"):
    return f"Hola {name} {last_name}"

In [31]:
saludo4("Maria", "Antonia")

'Hola Maria Antonia'

In [32]:
saludo4(last_name="Maria", name="Antonia")

'Hola Antonia Maria'

In [35]:
# funcion documentada que salude con retorno para nombre y apellido con valores por defecto
def saludo5(name = "Fulano", last_name = "De Tal"):
    """Esta funcion saluda a una persona con su nombre y apellido, y retorna un saludo con ambos valores
    name: str
    last_name: str
    return: str
    return f"hola {name} {last_name}"
    """

    return f"Hola {name} {last_name}"

In [36]:
saludo5()

'Hola Fulano De Tal'